<!DOCTYPE html>
<html>
<head>
  <title>Quick Start - Leaflet</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

    <style>
      body {
          font-family: Arial;
          color: white;
      }

      .split {
          height: 100%;
          width: 50%;
          position: fixed;
          z-index: 1;
          top: 0;
          overflow-x: hidden;
          padding-top: 20px;
      }

      .left {
          left: 0;
          background-color: grey;
      }

      .right {
          right: 0;
          background-color: orange;
      }
      .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
      }

    </style>

</head>
<body>
  <div class = "split left">
    <div class = "centered">
      <div class = "col-sm-4">
        <h1> Welcome </h1>
        {%if name%}
          {{name}}
        {%endif%}
        <div class="Business">
          <h2>Business</h2>
          <form action="/addBussiness" method="POST">
            <input type="text" name="housenum" value="housenum" maxlength="40">
            <input type="text" name="street" value="street" maxlength="40">
            <input type="text" name="city" value="city" maxlength="40">
            <input type="text" name="state" value="state" maxlength="40">
            <input type="textbox" name="message" value="add a message" maxlength="50">
            <button type="submit" class="btn submit">Advertise!</button>
          </form>
        </div>
        <h3>Inputs</h3>
        {%if inputs%}
          {%for input in inputs%}
            {{input}}
            <a href="/delete/{{input[0]}}">Delete<a>
          {%endfor%}
        {%endif%}
        <div class="listbusinesses">
          <h2>Businesses in your area</h2>
          <p id="ad"></p>
          <div class="comments">
            <form action="/inputComments" method="POST">
              <select name="optionselect">
                {% for element in nogeo %}
                <option value= "{{element}}">{{element}}</option>
                {% endfor %}
              </select> 
              <input type="textbox" name="comment" value="add comment" maxlength="50">
              <input type="number" name="rate" min=" 1" max="5">
              <button type="submit" class="btn submit">Comment</button>
            </form>
          </div>
          <script>
            var locations = {{nogeo|safe}}
            var person = {
              business: function(thing) {
                return thing

              }
            }
            var x = "" 
            for (var i = 0; i < locations.length; i++) {
               x += "<li>"
               x += person.business(locations[i]);
               x += "</li>"
               x += "<br>"
               x += "<br>"
            }
           // x = person.business(locations[1], "5", "5");
            document.getElementById("ad").innerHTML = x;
          </script>
        </div>
      </div>
    </div>
  </div>
<div class="split right">
  <div class="centered">
    <div id="mapid" style="width: 600px; height: 700px;"></div>
      <script>
        var mymap = L.map('mapid').setView({{local}}, 13);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(mymap);

        var locations = {{all|safe}}
        var messages = {{messg|safe}}
        for (var i = 0 ; i < locations.length; i++)
        {
          L.marker(locations[i]).addTo(mymap).bindPopup(messages[i]).openPopup();
        }

        L.circle([51.508, -0.11], 500, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5
        }).addTo(mymap).bindPopup("I am a circle.");

        L.polygon([
          [51.509, -0.08],
          [51.503, -0.06],
          [51.51, -0.047]
        ]).addTo(mymap).bindPopup("I am a polygon.");


        var popup = L.popup();

        function onMapClick(e) {
          popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(mymap);
        }

        mymap.on('click', onMapClick);

      </script>
    </div>
  </div>
</body> 